[Unit]
Description=ARK Survival Evolved
[Service]
Type=simple
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
User=arkserver
Group=arkserver
ExecStartPre=/home/arkserver/steamcmd +login anonymous +force_install_dir /home/arkserver/server +app_update 376
030 +quit
ExecStart=/home/arkserver/server/ShooterGame/Binaries/Linux/ShooterGameServer Genesis?listen?SessionName=BrothersClubOfCorona -server -log
ExecStop=pkill -TERM srcds_linux
[Install]
WantedBy=multi-user.target